n8n_workflows/WF2_CEMANTIX_ReceptorRespuestas.json
{
  "id": "r3fnPmm8gUAiJ6Gw",
  "name": "CEMANTIX — Receptor Respuestas Cemento",
  "active": true,
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Respuesta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "respuesta-cemento-argos",
      "parameters": {
        "httpMethod": "GET",
        "path": "respuesta-cemento-argos",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {
          "responseData": "<!DOCTYPE html>\n<html lang=\"es\">\n<head><meta charset=\"UTF-8\"><title>CEMANTIX — Respuesta recibida</title>\n<style>body{font-family:Arial,sans-serif;max-width:600px;margin:40px auto;padding:20px;text-align:center}\n.header{background:#003DA5;padding:25px;border-radius:8px 8px 0 0}\n.header h1{color:#fff;margin:0;font-size:24px}\n.body{background:#f9f9f9;padding:30px;border-radius:0 0 8px 8px}\n.checkmark{font-size:60px;margin:20px 0}\n.mensaje{font-size:16px;color:#333;margin:15px 0}\n.footer{font-size:12px;color:#888;margin-top:20px}</style>\n</head>\n<body>\n<div class=\"header\"><h1>CEMANTIX · EAFIT</h1></div>\n<div class=\"body\">\n<div class=\"checkmark\">✅</div>\n<h2 style=\"color:#1a7a3c\">¡Gracias por su respuesta!</h2>\n<p class=\"mensaje\">Hemos registrado su respuesta correctamente.</p>\n<p class=\"mensaje\">Su informacion contribuye al primer censo digital de ferreterias en Colombia.</p>\n<p class=\"footer\">Equipo CEMANTIX | EAFIT 2026 | desarrollandodatosia@gmail.com</p>\n</div>\n</body></html>",
          "responseContentType": "text/html"
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        480,
        300
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "value": "1yNH3aJtlvMmedQfBxCmJXXxYQGw9OV1XLQ4UYAL6tbM"
        },
        "sheetName": {
          "value": "CEMANTIX — Respuestas Vende Cemento Argos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_respuesta": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "nombre_ferreteria": "={{ $('Webhook Respuesta').item.json.query.nombre }}",
            "correo": "={{ $('Webhook Respuesta').item.json.query.correo }}",
            "ciudad": "={{ $('Webhook Respuesta').item.json.query.ciudad }}",
            "respuesta": "={{ $('Webhook Respuesta').item.json.query.respuesta }}",
            "timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YYY",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Actualizar Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://asaknpdzozkpexfrvlzw.supabase.co/rest/v1/ferreterias",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "correo_rues",
              "value": "=eq.{{ $('Webhook Respuesta').item.json.query.correo }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_qCZF-vGhFd6wFpm9qAMhFA_dFAeK4im"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_qCZF-vGhFd6wFpm9qAMhFA_dFAeK4im"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vende_cemento\": \"{{ ({'si':'Si','no':'No','parcial':'Parcialmente'})[$('Webhook Respuesta').item.json.query.respuesta] }}\",\n  \"fecha_actualizacion\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Respuesta": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Google Sheets": {
      "main": [
        [
          {
            "node": "Actualizar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Workflow WF2 — Receptor de respuestas 24/7. Webhook en /webhook/respuesta-cemento-argos recibe clicks de los botones del email WF1. Responde inmediatamente con pagina HTML de confirmacion. En background: (1) Guarda en Google Sheets como audit trail. (2) PATCH a Supabase ferreterias actualizando vende_cemento (Si/No/Parcialmente) y fecha_actualizacion por correo_rues. La publishable key de Supabase es por diseno publica — la seguridad la provee RLS.",
    "exportedAt": "2026-05-19",
    "project": "CEMANTIX — EAFIT 2026",
    "webhookURL": "https://laurent395.app.n8n.cloud/webhook/respuesta-cemento-argos",
    "googleSheetsID": "1yNH3aJtlvMmedQfBxCmJXXxYQGw9OV1XLQ4UYAL6tbM",
    "googleSheetsGID": "2100342099",
    "supabaseURL": "https://asaknpdzozkpexfrvlzw.supabase.co",
    "supabaseTable": "ferreterias"
  }
}
